<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
</head>
<!--Coded With Love By Mutiullah Samim-->

<body>


    <div class="card">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="{{selected_user.userprofile.profile_img.url}}"
                        class="rounded-circle user_img">
                    <span id="status_icon" class="online_icon"></span>
                </div>
                <div id="receiver_id" class="user_info">
                    <a href = "{% url 'profile' selected_user.username %}"><span id = "receiver">{{selected_user.username}}</span></a>
                    <p id="online_status" style="display: none;">{{selected_user.onlineuser.is_online}}</p>
                </div>
                <div class="video_cam">
                    <span><i class="fas fa-video"></i></span>
                    <span><i class="fas fa-phone"></i></span>
                    <span hidden="true" id="chat_with">{{ selected_user.id }}</span>

                </div>
            </div>
            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
            <div class="action_menu">
                <ul>
                    <a href = "{% url 'profile' selected_user.username %}"><li><i class="fas fa-user-circle"></i> View profile</li></a>
                    <li><i class="fas fa-users"></i> Add to close friends</li>
                    <li><i class="fas fa-plus"></i> Add to group</li>
                    <li><i class="fas fa-ban"></i> Block</li>
                </ul>
            </div>
        </div>
        <div id="chat_box" class="card-body msg_card_body">

            {% for chat in chats %}
            {% if chat.name|default_if_none:""|striptags == selected_user.username|default_if_none:""|striptags %}

                <div class="d-flex justify-content-start mb-4">
                    <div class="msg_cotainer">
                        {{chat.content}}
                        <span class="msg_time"></span>
                    </div>
                </div>
            {% else %}

                <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                        {{chat.content}}
                        <span class="msg_time_send"></span>
                    </div>

                </div>


            {% endif %}
        {% endfor %}



        </div>
        <div class="card-footer">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                    <input type="file" id="fileInput" class="file_input" style="display: none;">
                </div>
                <input type="text" id="text_box" name="" class="form-control type_msg" placeholder="Type your message..."></input>
                <div class="input-group-append">
                    
                    <button id="btn" class="input-group-text send_btn" type="submit"><i class="fas fa-location-arrow"></i></button>
                </div>
            </div>
        </div>
    </div>



</body>

</html>