<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        
    
</head>
<!--Coded With Love By Mutiullah Samim-->

<body>




    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-lg-11 col-xlg-4">
                    <div class="card">
                        <div class="card-body little-profile text-center">
                            <div class="pro-img m-t-20"><img src="{{ user.userprofile.profile_img.url}}" alt="user"></div>
                            <h3  class="m-b-1 highlight">{{user.username}}</h3>
                            <h6 class="text-muted">Web Developer</h6>
                            <ul class="list-inline soc-pro m-t-30">
                                <li><a href="javascript:void(0)" data-abc="true"><i class="fab fa-twitter text-twitter"></i></a></li>
                                <li><a href="javascript:void(0)" data-abc="true"><i class="fab fa-facebook-square text-facebook"></i></a></li>
                                <li><a href="javascript:void(0)" data-abc="true"><i class="fab fa-linkedin text-linkedin"></i></a></li>
                                <li><a href="javascript:void(0)" data-abc="true"><i class="fab fa-youtube text-youtube"></i></a></li>
                                <li><a href="javascript:void(0)" data-abc="true"><i class="fab fa-instagram text-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="text-center bg-light">
                            {% comment %} <div class="row">
                                <div class="col-lg-6 col-md-6 p-20 b-r">
                                    <h4 class="m-b-0 font-medium">35000</h4><small>Followers</small>
                                </div>
                                <div class="col-lg-6 col-md-6 p-20">
                                    <h4 class="m-b-0 font-medium">180</h4><small>Following</small>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        {% comment %} <div class="card-body text-center"> <a href="javascript:void(0)" class="m-t-10 m-b-20 waves-effect waves-dark btn btn-success btn-md btn-rounded" data-abc="true">Follow me</a> </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    


</body>






















